body{
	background-image:url('https://i.ibb.co/LXVkzmZG/sgc-college.png');
	background-size:cover;
        background-position:center;
}
p{
	font-style:italic;
}
h2{
	color:green;
}
h3{
	color:brown;
}
