body{
	background-image:url('https://library.sgcaruvithura.ac.in/images/sgclogoname.png');
	background-size:cover;
        background-position:center;
}
p{
	font-style:italic;
}
h2{
	color:green;
}
h3{
	color:brown;
}
